.wrap {
    border: 0;
    padding: 0;
    background: transparent;

    --color-text: white;
    --color-text-hover: var(--color-title);
    --color-bg: var(--primary);
    --color-bg-hover: var(--surface);
    --opacity-bg: 1;
    --opacity-bg-hover: 1;

    &:hover,
    &:active {
        .inner {
            color: var(--color-text-hover);
        }
    }
}

.inner {
    box-shadow: none;
    border: 0;
    font-size: 1rem;
    color: var(--color-text);
    padding: 12px 20px;
    border-radius: 300px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    font-weight: 400;
    min-height: var(--button-height);
    display: flex;
    align-items: center;
    line-height: 1.1;
    font-size: 1.1rem;

    &.small {
        padding: 5px 10px;
        min-height: unset;
        font-size: 1rem;
    }

}

.textWrap {
    display: inline-block;
    padding-bottom: 2px;
    transition: 320ms all;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    pointer-events: none;
    transition: 220ms all;
    border-radius: 300px;
    background-color: var(--color-bg);
    opacity: var(--opacity-bg);

}

.default {
    .inner {
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: 50%;
            display: block;
            width: 110%;
            height: 110%;
            background-color: var(--color-bg-hover);
            border-radius: 200px;
            transform: translateX(-120%) translateY(-50%);
            transition: all 300ms;
        }
    }

    &.dark {}

    &.darkTransparent {}

    &.whiteTransparent {
        --color-text: white;
        --color-text-hover: var(--color-title);
        --color-bg: var(--background);
        --color-bg-hover: var(--background);
        --opacity-bg: 0.1;
        --opacity-bg-hover: 1;
    }

    &.primary {
        --color-text: white;
        --color-text-hover: white;
        --color-bg: var(--primary);
        --color-bg-hover: var(--surface);
    }

    &.secondary {}

    &.error {}

    &.tertiary {}

    &.white {
        --color-text: var(--color-title);
        --color-text-hover: white;
        --color-bg: var(--background);
        --color-bg-hover: var(--surface);
    }


    &:hover,
    &.active {
        .inner {

            &::before {
                transform: translateX(-5%) translateY(-50%);
            }
        }
    }
}

.text {
    .bg {
        opacity: 0;
    }
}


.outline {
    .inner {
        border: 1px solid var(--color-text);
    }
}