@use "@/styles/_breakpoints" as _bp;

.titleWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    position: sticky;
    top: 0;
}

.titleItem {
    border: 1px solid var(--color-neutral3, #eee);
    border-radius: 100px;
    padding: 24px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    background-color: var(--background, #fff);
    transition: 320ms all;

    &.active {
        background-color: var(--surface, #111);

        .title {
            color: #fff;
        }

        .icon {
            color: #fff;
        }

        .titleCount {
            color: var(--on-background);
        }
    }
}

.title {
    color: var(--color-title, #000);
    font-weight: 500;
    font-size: var(--size-l3);
    text-transform: capitalize;
    flex: 1;
    line-height: 1.1;
    transition: 320ms all;
}

.icon {
    font-size: var(--size-l2);
    color: var(--color-title, #000);
    transition: 320ms all;
}

.titleCount {
    color: var(--primary);
    font-size: var(--size-l4);
}


.bodyWrap {
    position: relative;
}

.bodyItem {
    background-color: var(--surface, #111);
    padding: 40px;
    border-radius: 40px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: 320ms all;
    top: 0;
    left: 0;

    &.active {
        position: relative;
        pointer-events: all;
        opacity: 1;
    }

    h5 {
        color: #fff;
        font-size: var(--size-l2);
        line-height: 1.2;
        margin: 24px 0 16px;
    }

    p {
        color: var(--on-surface);
        font-weight: normal;
        font-size: var(--size-l4);
        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.bodyCount {
    color: #fff;
    font-size: var(--size-l3);
    margin-bottom: 20px;
    display: block;
}


@media #{_bp.$max-w-xs} {
    .bodyItem {
        padding: 30px 24px;
        border-radius: 24px;
    }

    .titleItem {
        padding: 20px 18px;
    }
}