.wrap {
    display: block;
    width: 100%;
    overflow: hidden;

    --x1: 0%;
    --x2: -200%;
    --timing: 40s;

    &.toRight {
        --x1: -200%;
        --x2: 0%;
    }
}

.inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    overflow: visible;
}

.title {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0;
}

.dot {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary);
    border-radius: 50%;
    vertical-align: middle;
}

.item {
    animation: ani-running var(--timing) infinite linear;
}

@keyframes ani-running {
    0% {
        transform: translateX(var(--x1));
    }

    100% {
        transform: translateX(var(--x2));
    }
}