.sup {

    display: inline-block;

    .span {
        display: inline-block;
        width: fit-content;
        text-align: center;
        background-color: var(--surface);
        color: white;
        border-radius: 100px;
        font-size: var(--size-l3);
        padding: 10px 30px;
    }

    margin-bottom: 24px;
}

.title .span {
    font-weight: 500;
    font-size: var(--size-l1);
    margin: 0;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 20px;
}

.sub .span {
    font-size: var(--size-l3);
    font-weight: normal;
    line-height: 1.5;
    color: var(--on-background);
    margin-bottom: 0;
}