@use "@/styles/_breakpoints" as _bp;

.wrap {
    z-index: 50;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

// Top
.imgsTop {
    position: relative;
    overflow: hidden;
    transform: translateY(-100px);
}

.imgsTopInner {
    padding: 50px 0;
    max-width: 1420px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.imgWrap {

    &:nth-child(1) {
        transform: rotate(10deg) scale(1.1);
        z-index: 1;
    }

    &:nth-child(2),
    &:nth-child(4) {
        transform: rotate(-10deg) scale(1.1);
        z-index: 10;
    }

    &:nth-child(3) {
        transform: rotate(5deg) scale(1.1);
        z-index: 5;
    }

}

.img {
    box-shadow: 36px 0 77px -37px rgba(6, 18, 30, 0.4);
}



@media #{_bp.$max-w-xs} {

    .imgsTopInner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .imgWrap {
        min-width: 150px;
    }

    .bodyInner {
        margin-top: -50px;
    }
}