.wrap {
    display: block;
    width: 100%;
    overflow: hidden;

    --x1: 0%;
    --x2: -200%;
    --timing: 32s;

    &.toRight {
        --x1: -200%;
        --x2: 0%;
    }
}

.inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    overflow: visible;
}


.item {
    animation: ani-running var(--timing) infinite linear;
}

@keyframes ani-running {
    0% {
        transform: translateX(var(--x1));
    }

    100% {
        transform: translateX(var(--x2));
    }
}